.navbarLogo {
    height: 70px;
}

.navbar {
    background: linear-gradient(270deg, rgba(6,5,5,1) 0%, rgba(50,50,50,1) 100%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 70px;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

.navbarLeft {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbarRight {
    display: flex;
    align-items: center;
    gap: 50px;
}
