<div class="navbar" id="stickyNavbar">
    <div class="navbarLeft">
        <a role="menuitem" routerLink="/">
            <img class="navbarLogo" src="assets/tvtube.svg" alt="tv tube home">
        </a>
        <a role="menuitem" href="#/home">Home</a>
        <a role="menuitem" href="#/movies">Movies</a>
        <a role="menuitem" href="#/tvshows">TV Shows</a>
        <a role="menuitem" href="#/genres">Genres</a>
    </div>

    <div class="navbarRight">
        <a role="menuitem" href="#/myaccount">My Account</a>
    </div>
  </div>