.banner {
    position: relative;
    width: 100%;
    height: auto;
}

.bannerImg {
    width:100%;
    height: auto;
}

.bannerTitle {
    position: absolute;
    color:white;
    font-size: large;
    background-color: none;
    left: 20px;
    bottom: 90%;
    z-index: 10;
}

.bannerText {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    width: 30%;
    left: 20px;
    bottom: 80%;
    transition: 1s ease;
    opacity: 0;
    color: lightgray;
    font-size: medium;
    text-align: left;
}

.banner:hover .bannerText {
    opacity: 1;
  }
